<div class="content">
	<div class="display">
		<div class="card-display">
			<div class="card-display-header">
				<div class="card-display-header-text">
					<span>1750 Kcal</span>
					<span>22.50 PLN</span>
				</div>
			</div>

			<div class="cards-container">
				<!--  cards  -->
			</div>

			<div class="card-display-footer">
				<div class="card-display-footer-text">
					<span>1750 Kcal</span>
					<span>22.50 PLN</span>
				</div>
			</div>
		</div>

		<button class="add-new">+ Add New Article</button>
	</div>
</div>
