<div class="container">
  <div class="content">
    <div class="display">
      <div class="card-display">
        <div class="card-display-header">
          <div class="card-display-header-text">
            <span>{{ calories }} Kcal</span>
            <span>{{ budgetLeft }} {{ currencySymbol }}</span>
          </div>
        </div>

        <div class="cards-container styled-scrollbar">
          <app-card *ngFor="let card of cards; index as i" [card]="card"></app-card>
        </div>

        <div class="card-display-footer">
          <div class="card-display-footer-text">
            <span>{{ caloriesLeft }} Kcal</span>
            <span>{{ budgetLeft }} {{ currencySymbol }}</span>
          </div>
        </div>
      </div>

      <button class="add-new">+ Add New Article</button>
    </div>
  </div>
</div>
