/* You can add global styles to this file, and also import other style files */
@import "./styles/variables.css";
@import "./styles/scrollbar.css";

html, body {
  font-family: var(--font-family-default);
  color: var(--color-fg-default);
  margin: 0;
  height: 100vh;
  width: 100vw;
}

h1:focus {
  outline: none;
}
